# Rename this file to `.env`

ZITADEL_CLIENT_ID=<get value from ZD UI at http://localhost:8080/ui/console>
ZITADEL_CLIENT_SECRET=<get value from ZD UI at http://localhost:8080/ui/console>

# `openssl rand -base64 32 | head -c 32`
OAUTH2_COOKIE_SECRET=
